<ul id="channel_list">
  <% @channels.each do |channel| %>
    <li id="<%= channel.id %>" class="channel_item">
      <div class="hidden">
        <%= @channel = channel %>
      </div>
      <%= link_to channel.name, channel, class: "channel_name" %>
      <h4><%= channel.category.name %></h4>
      <p class="channel_description"><%= channel.description %></p>
      <%= render "channels/subscribe_form" %>
    </li>
  <% end %>
</ul>