<div class="form-group col-lg-12">
  <%= form_with(model: @channel, local: true) do |f| %>
    <%= f.text_field :name, placeholder: "Название", class: "form-control mt-3" %>
    <%= f.text_area :description, placeholder: "Описание", class: "form-control mt-3" %>
    <%= f.text_field :url, placeholder: "RSS ссылка", class: "form-control mt-3" %>
    <%= f.text_field :site_page, placeholder: "Ссылка на сайт", class: "form-control mt-3" %>
    <%= f.hidden_field :type_id, value: "1" %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.select(:category_id, options_for_select(@categories.map {|c| [c.name, c.id]}), {}, {class: "form-control mt-3 h-100"}) %>
    <div class="form-inline">
      <%= f.submit "Сохранить", class: "btn btn-primary mt-3" %>
    </div>

    <span id="channelValidation"/>
    <div class="clear"></div>
  <% end %>
  <% if @channel.errors.any? %>
    <div id="error_explanation">
      <h4>
        Упс. Не удалось обновить канал
      </h4>
      <ul>
        <% @channel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= link_to 'Back', @channel %>
</div>
