<% provide(:title, "Sign in") %>
<style>
  body {
    margin: 0;
    background: #0f1b23;
  }
</style>

<div class="sign-in">
  <h3>Sign in</h3>
  <div class="button">
    <%= link_to "Register", signup_path %>
  </div>
  <div class="clear"></div>
  <%= form_for(:session, url: sessions_path) do |f| %>
    <div>
      <%= f.label :email, class: "user" do %>
        <svg viewBox="0 0 32 32">
          <g filter="">
            <use xlink:href="#man-people-user"></use>
          </g>
        </svg>
      <% end %>
      <%= f.text_field :email, placeholder: "My name is" %>
    </div>

    <div>
      <%= f.label :password, class: "user" do %>
        <svg viewBox="0 0 32 32">
          <g filter="">
            <use xlink:href="#lock-locker"></use>
          </g>
        </svg>
      <% end %>
      <%= f.password_field :password%>
    </div>
    <div>
      <%= f.submit "Sign in" %>
    </div>
    <div class="radio-check">
      <input type="radio" class="radio-no" id="no" name="remember" value="no" checked>
      <label for="no"><i class="fa fa-times"></i></label>
      <input type="radio" class="radio-yes" id="yes" name="remember" value="yes">
      <label for="yes"><i class="fa fa-check"></i></label>
      <span class="switch-selection"></span>
    </div>
    <span class="check-label">Remember me</span>
    <span class="forgot-label">Lost your password?</span>
    <div class="clear"></div>
  <% end %>
</div>