<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" data-aos="fade-right">
  <div class="blog-column">
    <span><%= feed.title %></span>
    <ul class="blog-detail list-inline">
      <li><i class="fa fa-user"></i><%= feed.channel.name %></li>
      <li><i class="fa fa-clock-o"></i><%= convertDate feed.created_at %></li>
    </ul>
    <p><%= feed.summary %></p>
    <a href="<%= getFeedUrl(feed.url, feed.channel.site_page) %>">Читать</a>
    <% @class = "like-btn" + feed.id.to_s %>
    <% @likesCount = "likes-count" + feed.id.to_s %>
    <% if current_user.liked? feed %>
      <% @class += " liked" %>
    <% end %>
    <%= link_to like_feed_path(feed), method: :put, remote: :true, class: @class do %>
      <ul class="col-lg-3 list-inline">
        <li><i class="fa fa-thumbs-up fa-1x"></i></li>
        <li class="<%= @likesCount %>"><%= feed.get_upvotes.size %></li>
      </ul>
    <% end %>
  </div>
  <hr class="col-lg-12" style="border-top: 1px solid #eeeeee"/>
</div>