<header class="header">
  <nav class="menu">
    <ul class="list menu__list">
      <li class="menu__group">
        <%= link_to "Home", root_path %>
      </li>
      <li class="menu__group">
        <%= link_to "Help", help_path %>
      </li>
      <% if signed_in? %>
      <li class="menu__group">
        <%= link_to "Profile", current_user %>
      </li>
      <li class="menu__group">
        <%= link_to "Settings", '#' %>
      </li>
      <li class="menu__group">
        <%= link_to "Sign out", signout_path, method: "delete" %>
      </li>
      <% else %>
            <li class="menu__group"><%= link_to "Sign in", signin_path %></li>
          <% end %>
    </ul>
  </nav>
</header>
